.hero {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-body .title {
    font-size: 54px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 2rem;
    font-weight:normal;
}

.word, .word:focus {
    text-decoration: underline;
}

.hero-body .subtitle {
    margin-bottom: 4rem;
}

.hero-body h3 {
    font-size: 24px;
    margin-bottom: 4rem;
}

.word, .word:focus {
    font-weight: bold;
    outline:0;
}

.language {
    font-weight: bold;
}

.navbar {
    padding-top:1rem;
    padding-bottom:1rem;
}

.hero-body .button {
    border-radius: 50px;
}

.navbar-item img {
    max-height: 100%;
}

.logo-text {
    font-family: 'Fjalla One', sans-serif;
    font-weight:bold;
    color: #242424;
    font-size: 36px;
}

.logo {
    margin-right:10px;
}

.play-btn {
    position: relative;
    bottom:0.5rem;
}

.image {
    margin-bottom:1rem;
}

.footer a {
    color:#242424;
}